@model IEnumerable<NoiThatViet_Nhom3.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
}
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="banner-container">
    <img src="~/Content/images/NewBanner.jpg" alt="Banner" class="banner">
    <div class="banner-title">
        <h1>KHÔNG GIAN HIỆN ĐẠI</h1>
    </div>
</div>

@* Slide quảng cáo *@
<div class="slideshow-container">

    <div class="mySlides">
        <img src="~/Content/images/bannerNoiThat3.jpg" style="width:100%" class="ads">
    </div>

    <div class="mySlides">
        <img src="~/Content/images/ads-home-banner_size-nho.jpg" style="width:100%" class="ads">
    </div>

    <div class="mySlides">
        <img src="~/Content/images/banner-Ghe-Ban.jpg" style="width:100%" class="ads">
    </div>

    <div class="mySlides">
        <img src="~/Content/images/Banner-Giuong.jpg" style="width:100%" class="ads">
    </div>

    <div class="mySlides">
        <img src="~/Content/images/ads-NoiThat.jpg" style="width:100%" class="ads">
    </div>

    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>
<script src="~/Content/ScriptForBanner.js"></script>
<div class="row">
    <div class="col-md-6">
        <div class="spbanchay-container">
            <img src="~/Content/images/sanphambanchay.jpg" alt="Sản phẩm bán chạy" class="spbanchay">
            <div class="spbanchay-title">
                <h1>Sản phẩm bán chạy</h1>
            </div>
            <div class="spbanchay-text">
                <p>Tiện ích cho nhu cầu sinh hoạt hàng ngày.</p>
                <p> Giải pháp An toàn - Tiết kiệm</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dentrangtri-container">
            <img src="~/Content/images/dentrangtri.jpg" alt="Đèn trang trí" class="dentrangtri">
            <div class="dentrangtri-info">
                <div class="dentrangtri-title">
                    <h1>Đèn trang trí</h1>
                </div>
                <div class="dentrangtri-text">
                    <p>Phong cách hiện đại.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="dotrangtri-container">
            <img src="~/Content/images/dotrangtri.jpg" alt="Đồ trang trí" class="dotrangtri">
            <div class="dotrangtri-title">
                <h1>Đồ trang trí</h1>
            </div>
            <div class="dotrangtri-text">
                <p>không gian nghệ thuật.</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="thietbivesinh-container">
            <img src="~/Content/images/Thietbivesinh.jpg" alt="Đồ trang trí" class="thietbivesinh">
            <div class="thietbivesinh-title">
                <h1>Thiết bị vệ sinh</h1>
            </div>
            <div class="thietbivesinh-text">
                <p>Đa dạng mẫu mã.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="sphangdau-container">
            <img src="~/Content/images/banner ghe.jpg" alt="Sản phẩm hàng đầu" class="sphangdau">
            <div class="sphangdau-title">
                <h1>Top sản phẩm hàng đầu</h1>
            </div>
            <div class="sphangdau-text">
                <p>Thiết kế đơn giản - Tinh tế - Hiện đại</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="donoithat-container">
            <img src="~/Content/images/donoithat.jpg" alt="Đồ nội thất" class="donoithat">
            <div class="donoithat-title">
                <h1>Đồ nội thất</h1>
            </div>
            <div class="donoithat-text">
                <p>Trang trí không gian.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dothucong-container">
            <img src="~/Content/images/dothucong.jpg" alt="Đồ trang trí" class="dothucong">
            <div class="dothucong-title">
                <h1>Sản phẩm thủ công</h1>
            </div>
            <div class="dothucong-text">
                <p>Đường nét chạm khắc tinh tế.</p>
            </div>
        </div>
    </div>
</div>
<div class="row" id="productContainer">
    @Html.Partial("_ProductPartial", Model.Take(12))
</div>
<div class="text-center mt-4">
    <button id="showMoreBtn" class="btn btn-primary">Xem thêm</button>
</div>
@section scripts {  
    <style>
        .toast-success {
            background-color: #28a745 !important; /*Nền màu xanh*/
            color: #fff !important; /*Font màu trắng*/
        }

        .toast-error {
            background-color: #dc3545 !important; /*Nền màu đỏ*/
            color: #fff !important;
        }
    </style>
    <script>
    $(document).ready(function () {
    // Toastr Options
    toastr.options = {
        "closeButton": true,
        "positionClass": "toast-bottom-right",
        "progressBar": true,
        "timeOut": "3000", // 3s
    };

    // Handler for adding item to wishlist
    $(document).on('click', '.addToWishlistBtn', function () {
        var productId = $(this).data("product-id");

        $.ajax({
            url: "/SanPham/AddToWishList",
            type: "POST",
            data: { id: productId },
            success: function (result) {
                if (result.success) {
                    toastr.success("Thêm sản phẩm vào Wishlist thành công!");
                    $(".wishlist-count").text(result.wishlistCount);
                } else {
                    toastr.error(result.message);
                }   
            },
        });
    });

    // Handler for adding item to cart
    $(document).on('click', '.addToCartBtn', function () {
        var productId = $(this).data("product-id");

        $.ajax({
            url: "@Url.Action("AddToCart", "Cart")",
            type: "POST",
            data: { id: productId },
            success: function (response) {
                if (response.success) {
                    // Update cart item count on success
                    $(".cart-item-count").text(response.cartItemCount);

                    // Hiển thị thông báo thành công
                    toastr.success(response.message);
                } else {
                    // Hiển thị thông báo lỗi
                    toastr.error(response.message);
                }
            },
        });
    });

    var skip = 12;

    $('#showMoreBtn').click(function () {
        $.ajax({
            url: '@Url.Action("LoadMoreProducts", "SanPham")',
            type: 'GET',
            data: { skip: skip },
            success: function (data) {
                if (data.length > 0) {
                    $('#productContainer').append(data);
                    skip += 12;
                }
                else {
                    $('#showMoreBtn').hide();
                }
            }
        });
    });
});
    </script>

}