@model IEnumerable<NoiThatViet_Nhom3.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="banner-container">
    <img src="~/Content/images/banner-qua-tang-8-3-nhom3.jpg" alt="Banner" class="banner">
    <div class="banner-title">
        <h1>QUÀ TẶNG TINH TẾ</h1>
    </div>
    <div class="banner-text">
        <p>Các lựa chọn với tinh dầu, nến thơm, khung hình và hàng nghìn sản phẩm trang trí độc đáo.</p>
    </div>
</div>

<img src="~/Content/images/bannerNoiThat3.jpg" alt="Banner" class="banner2">

<div class="row">
    <div class="col-md-6">
        <div class="spbanchay-container">
            <img src="~/Content/images/sanphambanchay.jpg" alt="Sản phẩm bán chạy" class="spbanchay">
            <div class="spbanchay-title">
                <h1>Sản phẩm bán chạy</h1>
            </div>
            <div class="spbanchay-text">
                <p>Tiện ích cho nhu cầu sinh hoạt hàng ngày.</p>
                <p> Giải pháp An toàn - Tiết kiệm</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dentrangtri-container">
            <img src="~/Content/images/dentrangtri.jpg" alt="Đèn trang trí" class="dentrangtri">
            <div class="dentrangtri-title">
                @*<h1>Đèn trang trí</h1>*@
            </div>
            <div class="dentrangtri-text">
                @*<p>Phong cách hiện đại.</p>*@
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dotrangtri-container">
            <img src="~/Content/images/dotrangtri.jpg" alt="Đồ trang trí" class="dotrangtri">
            <div class="dotrangtri-title">
                @*<h1>Đồ trang trí</h1>*@
            </div>
            <div class="dotrangtri-text">
                @*<p>không gian nghệ thuật.</p>*@
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="thietbivesinh-container">
            <img src="~/Content/images/Thietbivesinh.jpg" alt="Đồ trang trí" class="thietbivesinh">
            <div class="thietbivesinh-title">
                @*<h1>Thiết bị vệ sinh</h1>*@
            </div>
            <div class="thietbivesinh-text">
                @*<p>Đa dạng mẫu mã.</p>*@ 
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="sphangdau-container">
            <img src="~/Content/images/banner ghe.jpg" alt="Sản phẩm hàng đầu" class="sphangdau">
            <div class="sphangdau-title">
                @*<h1>Top sản phẩm hàng đầu</h1>*@
            </div>
            <div class="sphangdau-text">
                @*<p>Thiết kế đơn giản - Tinh tế - Hiện đại</p>*@
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="donoithat-container">
            <img src="~/Content/images/donoithat.jpg" alt="Đồ nội thất" class="donoithat">
            <div class="donoithat-title">
                @*<h1>Đèn trang trí</h1>*@
            </div>
            <div class="donoithat-text">
                @*<p>Phong cách hiện đại.</p>*@
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dothucong-container">
            <img src="~/Content/images/dothucong.jpg" alt="Đồ trang trí" class="dothucong">
            <div class="dothucong-title">
                @*<h1>Đồ trang trí</h1>*@
            </div>
            <div class="dothucong-text">
                @*<p>không gian nghệ thuật.</p>*@
            </div>
        </div>
    </div>
</div>
