
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessPassword</title>
</head>
<body>
    <div>
        <h3> Đặt lại mật khẩu thành công vui lòng kiểm tra email.</h3>
        @Html.ActionLink("Quay Về", "DanhSachTaiKhoan" ,"Role")
    </div>
</body>
</html>
