@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send Failed</title>
</head>
<body>
    <div>
        <h2>Failed!</h2>
        <p>There was an error sending your message. Please try again later.</p>
    </div>
</body>
</html>
