.product-menu {
    column-count: 3; /* Số lượng cột */
    max-height: 500px; /* Chiều cao tối đa của menu */
    overflow-y: auto; /* Cho phép cuộn nếu menu vượt quá chiều cao tối đa */
}
.dropdown-menu-right ul {
    left: 160px; /* Đặt vị trí menu sang phải */
    bottom: -450px;
}
/* CSS to hide the submenu by default */
.submenu {
    display: none;
}

/* CSS to show the submenu when hovering over the menu item */
.menu-item:hover .submenu {
    display: block;
}