.img-fluid {
    max-width: 100%;
    height: 100%;
}

.input-group .form-control {
    height: 38px !important;
    width: 20px !important;
}

.input-group .btn {
    position: relative;
    z-index: 2;
    border-radius: 0 !important;
    margin-top: -5px;
}
/* Đảm bảo các phần tử cùng hàng ngang và cùng chiều cao */
.input-group-btn button,
.input-group .form-control {
    display: inline-block;
    vertical-align: middle;
}
/* Kích thước cao của ô nhập liệu */
.input-group .form-control {
    height: 40px; /* Điều chỉnh kích thước cao tùy ý */
    width: 21px !important; /* Điều chỉnh kích thước ngang tùy ý */
}

.form-control {
    margin-top: -5px;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 20%;
}

.input-group-btn button {
    border-radius: 0 !important; /* Loại bỏ góc bo cong */
}

.additional-images img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px; /* Khoảng cách giữa các ảnh */
}

.container-fluid {
    padding-top: 50px;
}

.btn-success {
    border-radius: 0 !important;
    color: black;
    background-color: white;
    border-color: white;
}

.fa{
    color: black;
}
